/* TOGGLE */
#sidebar-toggle {
    display: none;
}

#sidebar-toggle:checked ~ .sidebar {
    width: 0;
} 

#sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
} 

#sidebar-toggle:checked ~  header {
    width: calc(100% - 90px);
    left: 70px;
} 

header {
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: calc(100% - 240px);
    height: 90px;
    padding: 0rem 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: left 800ms;
    
}

.search-wrapper {
    display: flex;
    justify-content: flex-end;
    
}

.search-wrapper > .search-input {
    width: 280px;
}

.search-input {
    background: none;
    outline: none;
    font-size: 1rem;
    padding-left: 30px;
    height: 40px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.search-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 60px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    background-color: $main-color;
}

.search-btn img {
    width: 30px;
}

.back-btn {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    background-color: $main-color;
}

.back-btn img {
    width: 30px;
}

/* Responsive */
@media only screen and (max-width: 860px) {
    /* TOGGLE */

    .sidebar {
        width: 0;
    } 

    .main-content {
        margin-left: 60px;
    }
    
    header {
        width: calc(100% - 80px);
        left: 30px;
    }

    #sidebar-toggle:checked ~ .sidebar {
        width: 240px;
    } 
    
    
    #sidebar-toggle:checked ~ .main-content {
        margin-left: 60px;
    } 
    
    #sidebar-toggle:checked ~ header {
        width: calc(100% - 60px);
        left: 60px;
    }
    
}

@media only screen and (max-width: 860px) {
    main {
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
    }
    header {
        margin: 5rem 0rem;
    }
}

@media only screen and (max-width: 600px) {
    header {
        padding: 0;
    }
}

