.main-content {
    position: relative;
    margin-left: 270px; //240
    margin-right: 30px; 
    transition: margin-left 500ms;
}

/*
.main-content {
    margin-left: 60px;
} 

.main-content header {
    left: 60px;
    width: calc(100% - 60px);
}

*/