/* TOGGLE */
#sidebar-toggle {
    display: none;
}

#sidebar-toggle:checked ~ .sidebar {
    width: 0;
} 

#sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
} 

#sidebar-toggle:checked ~  header {
    width: calc(100% - 90px);
    left: 70px;
}

.menu-container {
    width: 100%;
    height: 80px;
    background-color: $main-color;
    display: none;
    align-items: center;
    transition: left 800ms;
}

.menu-icon {
    width: 15%;
}

.menu-icon label{
    width: 80px;
    display: flex;
    justify-content: center;
}

.logo-responsive  {
    display: flex;
    justify-content: center;
    width: 80%;
}

.logo-responsive img {
    width: 150px;
}

/* Responsive */
@media only screen and (max-width: 860px) {
    /* TOGGLE */

    .sidebar {
        width: 0;
    } 

    .main-content {
        margin-left: 60px;
    }

    .menu-container {
        display: flex;

    }

    #sidebar-toggle:checked ~ .sidebar {
        width: 240px;
    } 
    
    #sidebar-toggle:checked ~ .main-content {
        margin-left: 60px;
    }

    #sidebar-toggle:checked ~ .menu-container {
        margin-left: 230px;
        .logo-responsive img { 
            visibility: hidden;
        }
    }

}