.card-single {
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
}

.card-body {
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $text-color;

    h5 {
        font-size: 1.4rem;
        margin-top: .2rem;
        font-weight: 500;
        text-transform: lowercase;
    }

    h5:first-letter {
        text-transform: uppercase;
    }
}

.card-body h4 {
    font-size: 1rem;
    font-weight: 300;
}

.card-pokemon img{
    width: 150px;
    height: 150px;
}

.card-footer {
    padding: 1.6rem 1rem;
    text-align: center;
}

.badge {
    padding: .2rem .5rem;
    margin: 0 .5rem;
    border-radius: 20px;
    font-weight: 700;
    font-size: .7rem;
    font-weight: 300;
    font-size: .8rem;
    color: #fff;
}

.badge.normal {
    background: #A8A878;
}

.badge.fighting {
    background: #C03028;
}

.badge.flying {
    background: #abc9ff;
}
 
.badge.poison {
    background: #9267af;
}

.badge.ground {
    background: #E0C068;
}

.badge.rock {
    background: #B8A038;
}

.badge.bug {
    background: #A8B820;
}

.badge.ghost {
    background: #705898;
}

.badge.steel {
    background: #B8B8D0;
}

.badge.fire {
    background: #F08030;
}

.badge.water {
    background: #6890F0;
}

.badge.grass {
    background: #65a30b;
}

.badge.electric {
    background: #F8D030;
}

.badge.psychic {
    background: #F85888;
}

.badge.ice {
    background: #98D8D8;
}

.badge.dragon {
    background: #7038F8;
}

.badge.dark {
    background: #705848;
}

.badge.default {
    background: #A8A878;
}